<li id="session-<%=id%>" class="<%=(highlight?'highlight':'')%>">
    <span class="status"><%=status%></span>
    <span class="host"><%=method%>:<%=host%></span>
    <span class="query"><%=path%></span>
</li>
